@model TestWebApplication.Models.User

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Name</h1>
<h3>Registration date: @Model.RegistrationDate.ToString("dddd, dd MMMM yyyy")</h3>
<h3>Total posts: @Model.BlogsCount</h3>
<h3>Total likes: @Model.LikedPosts.Count</h3>
<h3>Total comments: @Model.Comments.Count</h3>