@model IEnumerable<TestWebApplication.Models.Post>

@{
    ViewBag.Title = "Posts";
}

@foreach (var item in Model)
{
    <div class="post">
        
        <h1>@item.Title</h1>
        <h4>
            <small>
                @Html.ActionLink(item.User.Name, "Users", "Details", new { id = item.AuthorID }),
                @item.PublicationDate.ToString("dddd, dd MMMM yyyy")
            </small>
        </h4>
        <p><i>@item.Themes</i></p>
        <div>@Html.Raw(item.FrontContent)</div>
        @Html.ActionLink("Read more", "Details", "Posts", new { id = item.ID }, new { @class = "btn btn-primary" })
        <div class="post__info well well-sm">
            <div class="info__item">
                <span class="glyphicon glyphicon-eye-open"></span>
                <p>0</p>
            </div>
            <div class="info__item">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <p>@item.Likes</p>
            </div>
            <div class="info__item">
                <span class="glyphicon glyphicon-comment"></span>
                <p>0</p>
            </div>
        </div>
        <hr />
    </div>
}

<div class="pages">
    <div class="btn-group" role="group">
        @for (int i = 1; i <= (int)ViewData["PagesCount"]; i++)
        {
            @Html.ActionLink(i.ToString(), "Index", new { page = i }, new { @class="btn btn-default" })
        }
    </div>
</div>

